:root {
  --main-font: 'Archivo Narrow', sans-serif;
  --main-font-weight: 400;
  --heavy-font-weight: 600;
  --main-color: gray(6);
  --body-text-size: 16px;
}
body,
html {
  color: var(--main-color);
  background-color: white;
  font-weight: var(--main-font-weight);
  font-family: var(--main-font);
}
h1,
h2,
b,
strong {
  font-weight: var(--heavy-font-weight);
}
p,
li {
  font-size: var(--body-text-size);
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
body {
  padding: 20px 40px;
  max-width: 400px;
}
a:any-link {
  color: inherit;
  text-decoration: underline;
}
h2 {
  padding-top: 40px;
}
ul {
  list-style: none;
  padding: 0px;
}
ul li {
  padding-bottom: 12px;
}
.dat {
  font-size: 14px;
}
select,
option {
  font-weight: var(--main-font-weight);
  font-family: var(--main-font);
  font-size: var(--body-text-size);
}
button.action {
  all: initial;
  font-weight: var(--main-font-weight);
  font-family: var(--main-font);
  font-size: var(--body-text-size);
  color: var(--main-color);
  margin-left: 1em;
  cursor: pointer;
  text-decoration: underline;
}
button.action.disabled {
  color: gray(50);
  cursor: inherit;
}
